body {
  font-family: 'Arial', sans-serif;
  /* border: 4px solid blue; */
  /* background-color: #245353; */
  
}

.hide {
  /* visibility: hidden; */
  display: none;
}

.show {
  visibility: visible;

}

.main-body{

  background-color: #aed0f4;
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* margin: 0; */
} 

.mycontainer {
  background-color: #4ba1cf52;
  padding: 2em;
  /* border: 2px solid rgb(247, 0, 0); */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  max-width: 600px;
  width: 50%;
  text-align: center;
}

.mycontainer h1 {
  margin-bottom: 2em;
  color: #333;
}

.form-group {
  margin-bottom: 1em;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5em;
  color: #333;
}

input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 0.7em;
  width: 35%;
  border: none;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.startquiz-container{

  border: 2px solid black;
  background-color: aqua;
}

.login-btn, .strt-btn{

  border-radius: 20px;
}